
In this notebook, we will use data from Box Office Mojo, IMDB, Rotten Tomatoes, TheMovieDB, and The Numbers to gain insight on how the new Microsoft Movie studio should proceed in content creation to maximize ratings, reviews, and profit. The data we are using is important and helpful to this case because the information within the data can help us narrow down which genres of movies were well received and yielded higher ratings and grossed higher earnings.

So it looks like we need to join/merge the different tables so we can get the names/ratings/reviews etc matching

ratings with titles on tconstant

once we have the titles we can join the other sets that have the movie names

In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [56]:
!ls

README.md
ev_imdb_tmdb_notebook.ipynb
project_notebook.ipynb
zippedData

In [57]:
imdb_ratings = pd.read_csv('zippedData/imdb.title.ratings.csv.gz')
imdb_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         73856 non-null  object
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

In [58]:
imdb_ratings

           tconst  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

In [59]:
imdb_name_basics = pd.read_csv('zippeddata/imdb.name.basics.csv.gz')
imdb_name_basics

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"
...,...,...,...,...,...,...
606643,nm9990381,Susan Grobes,NaN,NaN,actress,NaN
606644,nm9990690,Joo Yeon So,NaN,NaN,actress,"tt9090932,tt8737130"
606645,nm9991320,Madeline Smith,NaN,NaN,actress,"tt8734436,tt9615610"
606646,nm9991786,Michelle Modigliani,NaN,NaN,producer,NaN
606647,nm9993380,Pegasus Envoyé,NaN,NaN,"director,actor,writer",tt8743182

In [60]:
imdb_principals = pd.read_csv('zippeddata/imdb.title.principals.csv.gz')
imdb_principals

,tconst,ordering,nconst,category,job,characters
0,tt0111414,1,nm0246005,actor,NaN,"[""The Man""]"
1,tt0111414,2,nm0398271,director,NaN,NaN
2,tt0111414,3,nm3739909,producer,producer,NaN
3,tt0323808,10,nm0059247,editor,NaN,NaN
4,tt0323808,1,nm3579312,actress,NaN,"[""Beth Boothby""]"
...,...,...,...,...,...,...
1028181,tt9692684,1,nm0186469,actor,NaN,"[""Ebenezer Scrooge""]"
1028182,tt9692684,2,nm4929530,self,NaN,"[""Herself"",""Regan""]"
1028183,tt9692684,3,nm10441594,director,NaN,NaN
1028184,tt9692684,4,nm6009913,writer,writer,NaN
1028185,tt9692684,5,nm10441595,producer,producer,NaN

In [61]:
imdb_akas = pd.read_csv('zippeddata/imdb.title.akas.csv.gz')
imdb_akas

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0
...,...,...,...,...,...,...,...,...
331698,tt9827784,2,Sayonara kuchibiru,NaN,NaN,original,NaN,1.0
331699,tt9827784,3,Farewell Song,XWW,en,imdbDisplay,NaN,0.0
331700,tt9880178,1,La atención,NaN,NaN,original,NaN,1.0
331701,tt9880178,2,La atención,ES,NaN,NaN,NaN,0.0
331702,tt9880178,3,The Attention,XWW,en,imdbDisplay,NaN,0.0

In [62]:
imdb_akas.rename(columns = {'title_id': 'tconst'}, inplace=True)
imdb_akas

,tconst,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0
...,...,...,...,...,...,...,...,...
331698,tt9827784,2,Sayonara kuchibiru,NaN,NaN,original,NaN,1.0
331699,tt9827784,3,Farewell Song,XWW,en,imdbDisplay,NaN,0.0
331700,tt9880178,1,La atención,NaN,NaN,original,NaN,1.0
331701,tt9880178,2,La atención,ES,NaN,NaN,NaN,0.0
331702,tt9880178,3,The Attention,XWW,en,imdbDisplay,NaN,0.0

In [63]:
imdb_crew = pd.read_csv('zippedData/imdb.title.crew.csv.gz')
imdb_crew

           tconst                      directors              writers
0       tt0285252                      nm0899854            nm0899854
1       tt0438973                            NaN  nm0175726,nm1802864
2       tt0462036                      nm1940585            nm1940585
3       tt0835418                      nm0151540  nm0310087,nm0841532
4       tt0878654  nm0089502,nm2291498,nm2292011            nm0284943
...           ...                            ...                  ...
146139  tt8999974                     nm10122357           nm10122357
146140  tt9001390                      nm6711477            nm6711477
146141  tt9001494          nm10123242,nm10123248                  NaN
146142  tt9004986                      nm4993825            nm4993825
146143  tt9010172                            NaN            nm8352242

[146144 rows x 3 columns]

In [64]:
tmdb_movies = pd.read_csv('zippedData/tmdb.movies.csv.gz')
tmdb_movies.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [65]:
imdb_df = pd.merge(imdb_ratings, imdb_akas, on='tconst', how='inner')
imdb_df.head()

,tconst,averagerating,numvotes,ordering,title,region,language,types,attributes,is_original_title
0,tt1042974,6.4,20,1,Just Inès,NaN,NaN,original,NaN,1.0
1,tt1042974,6.4,20,2,Samo Ines,RS,NaN,imdbDisplay,NaN,0.0
2,tt1042974,6.4,20,3,Just Inès,GB,NaN,NaN,NaN,0.0
3,tt1043726,4.2,50352,10,The Legend of Hercules,NaN,NaN,original,NaN,1.0
4,tt1043726,4.2,50352,11,Hércules - A Lenda Começa,PT,NaN,imdbDisplay,NaN,0.0

In [66]:
imdb_df = imdb_df.sort_values(by='averagerating', ascending=False)
imdb_df = imdb_df[imdb_df['region'] == 'US']
imdb_df = imdb_df[imdb_df['attributes'] != 'fake working title']
imdb_df = imdb_df[imdb_df['attributes'] != 'informal short title']
imdb_df = imdb_df[imdb_df['attributes'] != 'promotional title']
imdb_df = imdb_df[imdb_df['types'] != 'working']
imdb_df = imdb_df[imdb_df['attributes'] != 'IMAX version']
imdb_df = imdb_df[imdb_df['attributes'] != 'poster title']
imdb_df = imdb_df[imdb_df['attributes'] != 'informal title']
imdb_df = imdb_df[imdb_df['attributes'] != '3-D version']
imdb_df = imdb_df[imdb_df['attributes'] != 'director\'s cut']
imdb_df = imdb_df[imdb_df['attributes'] != 'alternative spelling']
imdb_df = imdb_df[imdb_df['attributes'] != 'informal alternative title']
imdb_df = imdb_df[imdb_df['attributes'] != 'long title']
imdb_df = imdb_df[imdb_df['attributes'] != 'short title']
imdb_df = imdb_df[imdb_df['types'] != 'alternative']
imdb_df = imdb_df.sort_values(by='language', ascending =True)
imdb_df = imdb_df.sort_values(by='numvotes', ascending=False)
imdb_df

,tconst,averagerating,numvotes,ordering,title,region,language,types,attributes,is_original_title
226156,tt1375666,8.8,1841066,8,Inception,US,en,NaN,NaN,0.0
226128,tt1375666,8.8,1841066,24,Inception,US,NaN,imdbDisplay,NaN,0.0
89785,tt0816692,8.6,1299334,2,Interstellar,US,en,NaN,NaN,0.0
89768,tt0816692,8.6,1299334,14,Interstellar,US,NaN,NaN,NaN,0.0
137305,tt1853728,8.4,1211405,11,Django Unchained,US,NaN,imdbDisplay,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...
5985,tt1737074,6.6,5,1,A Jazzman's Jazzman: The Gerry Carruthers Story,US,NaN,NaN,NaN,0.0
168211,tt3908356,6.6,5,1,Death 2 Hipsters,US,NaN,NaN,NaN,0.0
121140,tt5684662,6.6,5,1,Two Guns and a Body Bag,US,NaN,NaN,NaN,0.0
187022,tt3904112,6.6,5,1,Listening to Rain,US,NaN,NaN,NaN,0.0
116854,tt2132412,7.8,5,1,One Mountain,US,NaN,NaN,NaN,0.0

In [67]:
imdb_df = imdb_df.drop_duplicates(subset=['tconst'], keep='first')
imdb_df

,tconst,averagerating,numvotes,ordering,title,region,language,types,attributes,is_original_title
226156,tt1375666,8.8,1841066,8,Inception,US,en,NaN,NaN,0.0
89785,tt0816692,8.6,1299334,2,Interstellar,US,en,NaN,NaN,0.0
137305,tt1853728,8.4,1211405,11,Django Unchained,US,NaN,imdbDisplay,NaN,0.0
170409,tt0848228,8.1,1183655,36,The Avengers,US,NaN,imdbDisplay,NaN,0.0
141391,tt0993846,8.2,1035358,12,The Wolf of Wall Street,US,NaN,imdbDisplay,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...
5985,tt1737074,6.6,5,1,A Jazzman's Jazzman: The Gerry Carruthers Story,US,NaN,NaN,NaN,0.0
168211,tt3908356,6.6,5,1,Death 2 Hipsters,US,NaN,NaN,NaN,0.0
121140,tt5684662,6.6,5,1,Two Guns and a Body Bag,US,NaN,NaN,NaN,0.0
187022,tt3904112,6.6,5,1,Listening to Rain,US,NaN,NaN,NaN,0.0
116854,tt2132412,7.8,5,1,One Mountain,US,NaN,NaN,NaN,0.0

In [70]:
imdb_df = pd.merge(imdb_df, tmdb_movies, on='title', how='inner')
imdb_df[:50]

,tconst,averagerating,numvotes,ordering,title,region,language,types,attributes,is_original_title,...,vote_count_x,Unnamed: 0_y,genre_ids_y,id_y,original_language_y,original_title_y,popularity_y,release_date_y,vote_average_y,vote_count_y
0,tt1375666,8.8,1841066,8,Inception,US,en,NaN,NaN,0.0,...,22186,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,8.3,22186
1,tt0816692,8.6,1299334,2,Interstellar,US,en,NaN,NaN,0.0,...,18597,11032,"[12, 18, 878]",157336,en,Interstellar,28.440,2014-11-05,8.2,18597
2,tt1853728,8.4,1211405,11,Django Unchained,US,NaN,imdbDisplay,NaN,0.0,...,15725,5189,"[18, 37]",68718,en,Django Unchained,21.260,2012-12-25,8.0,15725
3,tt0848228,8.1,1183655,36,The Avengers,US,NaN,imdbDisplay,NaN,0.0,...,19673,5179,"[878, 28, 12]",24428,en,The Avengers,50.289,2012-05-04,7.6,19673
4,tt0993846,8.2,1035358,12,The Wolf of Wall Street,US,NaN,imdbDisplay,NaN,0.0,...,12411,7883,"[80, 18, 35]",106646,en,The Wolf of Wall Street,29.518,2013-12-25,7.9,12411
5,tt1130884,8.1,1005960,34,Shutter Island,US,NaN,NaN,NaN,0.0,...,12625,19,"[18, 53, 9648]",11324,en,Shutter Island,18.060,2010-02-18,8.1,12625
6,tt2015381,8.1,948394,19,Guardians of the Galaxy,US,NaN,NaN,NaN,0.0,...,17958,11021,"[28, 878, 12]",118340,en,Guardians of the Galaxy,49.606,2014-08-01,7.9,17958
7,tt1431045,8.0,820847,6,Deadpool,US,en,NaN,NaN,0.0,...,20175,17383,"[28, 12, 35]",293660,en,Deadpool,35.067,2016-02-12,7.6,20175
8,tt1392170,7.2,795227,29,The Hunger Games,US,NaN,NaN,NaN,0.0,...,14587,5235,"[878, 12, 14]",70160,en,The Hunger Games,14.212,2012-03-23,7.1,14587
9,tt1392190,8.1,780910,5,Mad Max: Fury Road,US,NaN,imdbDisplay,NaN,0.0,...,14454,14177,"[28, 12, 878]",76341,en,Mad Max: Fury Road,28.099,2015-05-15,7.4,14454
10,tt2267998,8.1,761592,18,Gone Girl,US,NaN,imdbDisplay,NaN,0.0,...,10459,11027,"[9648, 53, 18]",210577,en,Gone Girl,31.215,2014-10-03,7.9,10459
11,tt0903624,7.9,719629,39,The Hobbit: An Unexpected Journey,US,NaN,NaN,complete title,0.0,...,12076,5180,"[12, 14, 28]",49051,en,The Hobbit: An Unexpected Journey,26.939,2012-12-14,7.2,12076
12,tt1454468,7.7,710018,26,Gravity,US,NaN,imdbDisplay,NaN,0.0,...,9586,7884,"[878, 53, 18]",49047,en,Gravity,27.836,2013-10-04,7.2,9586
13,tt1300854,7.2,692794,38,Iron Man 3,US,en,imdbDisplay,NaN,0.0,...,14155,7881,"[28, 12, 878]",68721,en,Iron Man 3,32.093,2013-05-03,6.9,14155
14,tt1201607,8.1,691835,21,Harry Potter and the Deathly Hallows: Part 2,US,NaN,NaN,NaN,0.0,...,11567,2471,"[10751, 14, 12]",12445,en,Harry Potter and the Deathly Hallows: Part 2,29.206,2011-07-15,8.1,11567
15,tt0800369,7.0,683264,9,Thor,US,NaN,NaN,NaN,0.0,...,12764,2468,"[12, 14, 28]",10195,en,Thor,38.068,2011-05-06,6.7,12764
16,tt0435761,8.3,682218,35,Toy Story 3,US,NaN,NaN,NaN,0.0,...,8340,7,"[16, 10751, 35]",10193,en,Toy Story 3,24.445,2010-06-17,7.7,8340
17,tt1675434,8.5,677343,21,The Intouchables,US,NaN,imdbDisplay,NaN,0.0,...,9940,2511,"[18, 35]",77338,fr,Intouchables,15.013,2011-11-02,8.2,9940
18,tt4154756,8.5,670926,14,Avengers: Infinity War,US,en,NaN,NaN,0.0,...,13948,23811,"[12, 28, 14]",299536,en,Avengers: Infinity War,80.773,2018-04-27,8.3,13948
19,tt0458339,6.9,668137,23,Captain America: The First Avenger,US,NaN,NaN,NaN,0.0,...,12810,2474,"[28, 12, 878]",1771,en,Captain America: The First Avenger,25.808,2011-07-22,6.9,12810
20,tt1843866,7.8,666252,40,Captain America: The Winter Soldier,US,NaN,NaN,new title,0.0,...,11034,11063,"[28, 12, 878]",100402,en,Captain America: The Winter Soldier,18.073,2014-04-04,7.7,11034
21,tt2395427,7.3,665594,15,Avengers: Age of Ultron,US,NaN,NaN,NaN,0.0,...,13457,14169,"[28, 12, 878]",99861,en,Avengers: Age of Ultron,44.383,2015-05-01,7.3,13457
22,tt1228705,7.0,657690,2,Iron Man 2,US,NaN,NaN,NaN,0.0,...,12368,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,6.8,12368
23,tt0947798,8.0,648854,15,Black Swan,US,NaN,imdbDisplay,NaN,0.0,...,8374,47,"[18, 53]",44214,en,Black Swan,13.745,2010-12-03,7.6,8374
24,tt0770828,7.1,647288,3,Man of Steel,US,NaN,NaN,NaN,0.0,...,9758,7885,"[28, 12, 14, 878]",49521,en,Man of Steel,27.667,2013-06-14,6.5,9758
25,tt2278388,8.1,633604,38,The Grand Budapest Hotel,US,NaN,imdbDisplay,NaN,0.0,...,8091,11061,"[35, 18]",120467,en,The Grand Budapest Hotel,18.310,2014-03-07,8.0,8091
26,tt1663202,8.0,621193,5,The Revenant,US,NaN,imdbDisplay,NaN,0.0,...,11064,14203,"[37, 18, 12]",281957,en,The Revenant,19.410,2015-12-25,7.4,11064
27,tt1663202,8.0,621193,5,The Revenant,US,NaN,imdbDisplay,NaN,0.0,...,11064,17411,"[37, 18, 12]",281957,en,The Revenant,19.410,2015-12-25,7.4,11064
28,tt3300078,6.0,20,1,The Revenant,US,NaN,NaN,NaN,0.0,...,11064,14203,"[37, 18, 12]",281957,en,The Revenant,19.410,2015-12-25,7.4,11064
29,tt3300078,6.0,20,1,The Revenant,US,NaN,NaN,NaN,0.0,...,11064,17411,"[37, 18, 12]",281957,en,The Revenant,19.410,2015-12-25,7.4,11064
30,tt1045658,7.7,621018,7,Silver Linings Playbook,US,NaN,imdbDisplay,NaN,0.0,...,7636,5218,"[18, 35, 10749]",82693,en,Silver Linings Playbook,15.351,2012-12-25,7.1,7636
31,tt2084970,8.0,620834,21,The Imitation Game,US,NaN,imdbDisplay,NaN,0.0,...,10396,11026,"[36, 18, 53, 10752]",205596,en,The Imitation Game,33.078,2014-12-19,8.1,10396
32,tt1877832,8.0,620079,10,X-Men: Days of Future Past,US,NaN,imdbDisplay,NaN,0.0,...,10062,11022,"[28, 12, 14, 878]",127585,en,X-Men: Days of Future Past,41.867,2014-05-23,7.5,10062
33,tt2582802,8.5,616916,7,Whiplash,US,NaN,imdbDisplay,NaN,0.0,...,94,8293,"[18, 10402]",367412,en,Whiplash,6.298,2013-01-18,7.9,94
34,tt2582802,8.5,616916,7,Whiplash,US,NaN,imdbDisplay,NaN,0.0,...,94,11031,"[18, 10402]",244786,en,Whiplash,28.784,2014-10-10,8.4,7908
35,tt0892769,8.1,611299,39,How to Train Your Dragon,US,NaN,imdbDisplay,NaN,0.0,...,7610,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,7.7,7610
36,tt1270798,7.7,608930,23,X-Men: First Class,US,en,imdbDisplay,NaN,0.0,...,8211,3672,"[28, 878, 12]",49538,en,X-Men: First Class,1.447,2011-06-03,7.2,8211
37,tt1504320,8.0,593629,10,The King's Speech,US,NaN,imdbDisplay,NaN,0.0,...,5013,25,"[18, 36]",45269,en,The King's Speech,16.798,2010-09-06,7.7,5013
38,tt1074638,7.8,592221,43,Skyfall,US,NaN,imdbDisplay,NaN,0.0,...,10441,5193,"[28, 12, 53]",37724,en,Skyfall,19.270,2012-11-09,7.1,10441
39,tt3498820,7.8,583507,15,Captain America: Civil War,US,NaN,NaN,NaN,0.0,...,14000,17382,"[12, 28, 878]",271110,en,Captain America: Civil War,39.137,2016-05-06,7.4,14000
40,tt2024544,8.1,577301,32,12 Years a Slave,US,NaN,NaN,NaN,0.0,...,6631,7911,"[18, 36]",76203,en,12 Years a Slave,16.493,2013-10-30,7.9,6631
41,tt2975590,6.5,576909,28,Batman v Superman: Dawn of Justice,US,NaN,NaN,NaN,0.0,...,11991,17390,"[28, 12, 14]",209112,en,Batman v Superman: Dawn of Justice,28.088,2016-03-25,5.8,11991
42,tt1951264,7.5,575455,5,The Hunger Games: Catching Fire,US,NaN,NaN,NaN,0.0,...,11170,7893,"[12, 28, 878]",101299,en,The Hunger Games: Catching Fire,20.187,2013-11-22,7.4,11170
43,tt1285016,7.7,568578,11,The Social Network,US,NaN,imdbDisplay,NaN,0.0,...,6116,29,[18],37799,en,The Social Network,15.889,2010-10-01,7.2,6116
44,tt1170358,7.8,565563,1,The Hobbit: The Desolation of Smaug,US,NaN,NaN,NaN,0.0,...,7739,7890,"[12, 14, 28]",57158,en,The Hobbit: The Desolation of Smaug,21.275,2013-12-13,7.6,7739
45,tt3315342,8.1,560270,11,Logan,US,NaN,imdbDisplay,NaN,0.0,...,4,1380,"[35, 18, 10751]",44010,en,Logan,0.964,2010-09-10,6.1,4
46,tt3315342,8.1,560270,11,Logan,US,NaN,imdbDisplay,NaN,0.0,...,4,20620,"[28, 18, 878]",263115,en,Logan,45.000,2017-03-03,7.8,12330
47,tt1483010,6.2,252,2,Logan,US,NaN,NaN,NaN,0.0,...,4,1380,"[35, 18, 10751]",44010,en,Logan,0.964,2010-09-10,6.1,4
48,tt1483010,6.2,252,2,Logan,US,NaN,NaN,NaN,0.0,...,4,20620,"[28, 18, 878]",263115,en,Logan,45.000,2017-03-03,7.8,12330
49,tt0816711,7.0,553751,7,World War Z,US,NaN,NaN,NaN,0.0,...,9132,7935,"[28, 18, 27, 878, 53]",72190,en,World War Z,14.582,2013-06-21,6.7,9132

In [72]:
imdb_df = imdb_df.drop_duplicates(subset=['tconst'], keep='first')
imdb_df = imdb_df.drop_duplicates(subset=['title'], keep='first')

In [74]:
imdb_df[:60]

,tconst,averagerating,numvotes,ordering,title,region,language,types,attributes,is_original_title,...,vote_count_x,Unnamed: 0_y,genre_ids_y,id_y,original_language_y,original_title_y,popularity_y,release_date_y,vote_average_y,vote_count_y
0,tt1375666,8.8,1841066,8,Inception,US,en,NaN,NaN,0.0,...,22186,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,8.3,22186
1,tt0816692,8.6,1299334,2,Interstellar,US,en,NaN,NaN,0.0,...,18597,11032,"[12, 18, 878]",157336,en,Interstellar,28.440,2014-11-05,8.2,18597
2,tt1853728,8.4,1211405,11,Django Unchained,US,NaN,imdbDisplay,NaN,0.0,...,15725,5189,"[18, 37]",68718,en,Django Unchained,21.260,2012-12-25,8.0,15725
3,tt0848228,8.1,1183655,36,The Avengers,US,NaN,imdbDisplay,NaN,0.0,...,19673,5179,"[878, 28, 12]",24428,en,The Avengers,50.289,2012-05-04,7.6,19673
4,tt0993846,8.2,1035358,12,The Wolf of Wall Street,US,NaN,imdbDisplay,NaN,0.0,...,12411,7883,"[80, 18, 35]",106646,en,The Wolf of Wall Street,29.518,2013-12-25,7.9,12411
5,tt1130884,8.1,1005960,34,Shutter Island,US,NaN,NaN,NaN,0.0,...,12625,19,"[18, 53, 9648]",11324,en,Shutter Island,18.060,2010-02-18,8.1,12625
6,tt2015381,8.1,948394,19,Guardians of the Galaxy,US,NaN,NaN,NaN,0.0,...,17958,11021,"[28, 878, 12]",118340,en,Guardians of the Galaxy,49.606,2014-08-01,7.9,17958
7,tt1431045,8.0,820847,6,Deadpool,US,en,NaN,NaN,0.0,...,20175,17383,"[28, 12, 35]",293660,en,Deadpool,35.067,2016-02-12,7.6,20175
8,tt1392170,7.2,795227,29,The Hunger Games,US,NaN,NaN,NaN,0.0,...,14587,5235,"[878, 12, 14]",70160,en,The Hunger Games,14.212,2012-03-23,7.1,14587
9,tt1392190,8.1,780910,5,Mad Max: Fury Road,US,NaN,imdbDisplay,NaN,0.0,...,14454,14177,"[28, 12, 878]",76341,en,Mad Max: Fury Road,28.099,2015-05-15,7.4,14454
10,tt2267998,8.1,761592,18,Gone Girl,US,NaN,imdbDisplay,NaN,0.0,...,10459,11027,"[9648, 53, 18]",210577,en,Gone Girl,31.215,2014-10-03,7.9,10459
11,tt0903624,7.9,719629,39,The Hobbit: An Unexpected Journey,US,NaN,NaN,complete title,0.0,...,12076,5180,"[12, 14, 28]",49051,en,The Hobbit: An Unexpected Journey,26.939,2012-12-14,7.2,12076
12,tt1454468,7.7,710018,26,Gravity,US,NaN,imdbDisplay,NaN,0.0,...,9586,7884,"[878, 53, 18]",49047,en,Gravity,27.836,2013-10-04,7.2,9586
13,tt1300854,7.2,692794,38,Iron Man 3,US,en,imdbDisplay,NaN,0.0,...,14155,7881,"[28, 12, 878]",68721,en,Iron Man 3,32.093,2013-05-03,6.9,14155
14,tt1201607,8.1,691835,21,Harry Potter and the Deathly Hallows: Part 2,US,NaN,NaN,NaN,0.0,...,11567,2471,"[10751, 14, 12]",12445,en,Harry Potter and the Deathly Hallows: Part 2,29.206,2011-07-15,8.1,11567
15,tt0800369,7.0,683264,9,Thor,US,NaN,NaN,NaN,0.0,...,12764,2468,"[12, 14, 28]",10195,en,Thor,38.068,2011-05-06,6.7,12764
16,tt0435761,8.3,682218,35,Toy Story 3,US,NaN,NaN,NaN,0.0,...,8340,7,"[16, 10751, 35]",10193,en,Toy Story 3,24.445,2010-06-17,7.7,8340
17,tt1675434,8.5,677343,21,The Intouchables,US,NaN,imdbDisplay,NaN,0.0,...,9940,2511,"[18, 35]",77338,fr,Intouchables,15.013,2011-11-02,8.2,9940
18,tt4154756,8.5,670926,14,Avengers: Infinity War,US,en,NaN,NaN,0.0,...,13948,23811,"[12, 28, 14]",299536,en,Avengers: Infinity War,80.773,2018-04-27,8.3,13948
19,tt0458339,6.9,668137,23,Captain America: The First Avenger,US,NaN,NaN,NaN,0.0,...,12810,2474,"[28, 12, 878]",1771,en,Captain America: The First Avenger,25.808,2011-07-22,6.9,12810
20,tt1843866,7.8,666252,40,Captain America: The Winter Soldier,US,NaN,NaN,new title,0.0,...,11034,11063,"[28, 12, 878]",100402,en,Captain America: The Winter Soldier,18.073,2014-04-04,7.7,11034
21,tt2395427,7.3,665594,15,Avengers: Age of Ultron,US,NaN,NaN,NaN,0.0,...,13457,14169,"[28, 12, 878]",99861,en,Avengers: Age of Ultron,44.383,2015-05-01,7.3,13457
22,tt1228705,7.0,657690,2,Iron Man 2,US,NaN,NaN,NaN,0.0,...,12368,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,6.8,12368
23,tt0947798,8.0,648854,15,Black Swan,US,NaN,imdbDisplay,NaN,0.0,...,8374,47,"[18, 53]",44214,en,Black Swan,13.745,2010-12-03,7.6,8374
24,tt0770828,7.1,647288,3,Man of Steel,US,NaN,NaN,NaN,0.0,...,9758,7885,"[28, 12, 14, 878]",49521,en,Man of Steel,27.667,2013-06-14,6.5,9758
25,tt2278388,8.1,633604,38,The Grand Budapest Hotel,US,NaN,imdbDisplay,NaN,0.0,...,8091,11061,"[35, 18]",120467,en,The Grand Budapest Hotel,18.310,2014-03-07,8.0,8091
26,tt1663202,8.0,621193,5,The Revenant,US,NaN,imdbDisplay,NaN,0.0,...,11064,14203,"[37, 18, 12]",281957,en,The Revenant,19.410,2015-12-25,7.4,11064
30,tt1045658,7.7,621018,7,Silver Linings Playbook,US,NaN,imdbDisplay,NaN,0.0,...,7636,5218,"[18, 35, 10749]",82693,en,Silver Linings Playbook,15.351,2012-12-25,7.1,7636
31,tt2084970,8.0,620834,21,The Imitation Game,US,NaN,imdbDisplay,NaN,0.0,...,10396,11026,"[36, 18, 53, 10752]",205596,en,The Imitation Game,33.078,2014-12-19,8.1,10396
32,tt1877832,8.0,620079,10,X-Men: Days of Future Past,US,NaN,imdbDisplay,NaN,0.0,...,10062,11022,"[28, 12, 14, 878]",127585,en,X-Men: Days of Future Past,41.867,2014-05-23,7.5,10062
33,tt2582802,8.5,616916,7,Whiplash,US,NaN,imdbDisplay,NaN,0.0,...,94,8293,"[18, 10402]",367412,en,Whiplash,6.298,2013-01-18,7.9,94
35,tt0892769,8.1,611299,39,How to Train Your Dragon,US,NaN,imdbDisplay,NaN,0.0,...,7610,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,7.7,7610
36,tt1270798,7.7,608930,23,X-Men: First Class,US,en,imdbDisplay,NaN,0.0,...,8211,3672,"[28, 878, 12]",49538,en,X-Men: First Class,1.447,2011-06-03,7.2,8211
37,tt1504320,8.0,593629,10,The King's Speech,US,NaN,imdbDisplay,NaN,0.0,...,5013,25,"[18, 36]",45269,en,The King's Speech,16.798,2010-09-06,7.7,5013
38,tt1074638,7.8,592221,43,Skyfall,US,NaN,imdbDisplay,NaN,0.0,...,10441,5193,"[28, 12, 53]",37724,en,Skyfall,19.270,2012-11-09,7.1,10441
39,tt3498820,7.8,583507,15,Captain America: Civil War,US,NaN,NaN,NaN,0.0,...,14000,17382,"[12, 28, 878]",271110,en,Captain America: Civil War,39.137,2016-05-06,7.4,14000
40,tt2024544,8.1,577301,32,12 Years a Slave,US,NaN,NaN,NaN,0.0,...,6631,7911,"[18, 36]",76203,en,12 Years a Slave,16.493,2013-10-30,7.9,6631
41,tt2975590,6.5,576909,28,Batman v Superman: Dawn of Justice,US,NaN,NaN,NaN,0.0,...,11991,17390,"[28, 12, 14]",209112,en,Batman v Superman: Dawn of Justice,28.088,2016-03-25,5.8,11991
42,tt1951264,7.5,575455,5,The Hunger Games: Catching Fire,US,NaN,NaN,NaN,0.0,...,11170,7893,"[12, 28, 878]",101299,en,The Hunger Games: Catching Fire,20.187,2013-11-22,7.4,11170
43,tt1285016,7.7,568578,11,The Social Network,US,NaN,imdbDisplay,NaN,0.0,...,6116,29,[18],37799,en,The Social Network,15.889,2010-10-01,7.2,6116
44,tt1170358,7.8,565563,1,The Hobbit: The Desolation of Smaug,US,NaN,NaN,NaN,0.0,...,7739,7890,"[12, 14, 28]",57158,en,The Hobbit: The Desolation of Smaug,21.275,2013-12-13,7.6,7739
45,tt3315342,8.1,560270,11,Logan,US,NaN,imdbDisplay,NaN,0.0,...,4,1380,"[35, 18, 10751]",44010,en,Logan,0.964,2010-09-10,6.1,4
49,tt0816711,7.0,553751,7,World War Z,US,NaN,NaN,NaN,0.0,...,9132,7935,"[28, 18, 27, 878, 53]",72190,en,World War Z,14.582,2013-06-21,6.7,9132
50,tt1670345,7.3,553156,8,Now You See Me,US,NaN,imdbDisplay,NaN,0.0,...,9871,7909,"[53, 80]",75656,en,Now You See Me,16.646,2013-05-31,7.4,9871
52,tt1631867,7.9,546284,19,Edge of Tomorrow,US,NaN,NaN,NaN,0.0,...,8047,11051,"[28, 878]",137113,en,Edge of Tomorrow,19.753,2014-06-06,7.6,8047
53,tt1981115,6.9,540996,5,Thor: The Dark World,US,NaN,NaN,NaN,0.0,...,10171,7882,"[28, 12, 14]",76338,en,Thor: The Dark World,31.014,2013-11-08,6.7,10171
54,tt0369610,7.0,539338,29,Jurassic World,US,NaN,NaN,NaN,0.0,...,14056,14193,"[28, 12, 878, 53]",135397,en,Jurassic World,20.709,2015-06-12,6.6,14056
55,tt1446714,7.0,538720,34,Prometheus,US,NaN,NaN,NaN,0.0,...,7384,5184,"[878, 12, 9648]",70981,en,Prometheus,24.980,2012-06-08,6.4,7384
56,tt1637725,6.9,538367,14,Ted,US,NaN,imdbDisplay,NaN,0.0,...,7727,5231,"[35, 14]",72105,en,Ted,14.475,2012-06-29,6.3,7727
57,tt2096673,8.2,536181,36,Inside Out,US,NaN,imdbDisplay,NaN,0.0,...,18,3016,"[18, 80]",70877,en,Inside Out,4.758,2011-09-27,4.4,18
63,tt0454876,7.9,535836,37,Life of Pi,US,NaN,NaN,NaN,0.0,...,8723,5223,"[12, 18, 28]",87827,en,Life of Pi,15.000,2012-11-21,7.3,8723
64,tt1024648,7.7,534683,3,Argo,US,NaN,NaN,NaN,0.0,...,5127,5212,"[18, 53]",68734,en,Argo,15.793,2012-10-12,7.2,5127
65,tt1386697,6.0,533039,19,Suicide Squad,US,NaN,NaN,NaN,0.0,...,13533,17437,"[28, 12, 80, 14, 878]",297761,en,Suicide Squad,16.530,2016-08-05,5.9,13533
66,tt1392214,8.1,526273,19,Prisoners,US,NaN,imdbDisplay,NaN,0.0,...,5785,7938,"[18, 53, 80]",146233,en,Prisoners,14.358,2013-09-21,8.0,5785
67,tt0948470,7.0,525632,29,The Amazing Spider-Man,US,NaN,NaN,NaN,0.0,...,10411,5186,"[28, 12, 14]",1930,en,The Amazing Spider-Man,24.391,2012-07-04,6.5,10411
68,tt0780504,7.8,521495,18,Drive,US,NaN,imdbDisplay,NaN,0.0,...,6737,2502,"[18, 28, 53, 80]",64690,en,Drive,15.875,2011-09-16,7.5,6737
69,tt2294629,7.5,516998,27,Frozen,US,NaN,NaN,NaN,0.0,...,987,148,[53],44363,en,Frozen,9.678,2010-02-05,5.8,987
73,tt1825683,7.3,516148,16,Black Panther,US,en,NaN,NaN,0.0,...,11,3444,"[28, 16]",86841,en,Black Panther,2.058,2011-01-18,5.1,11
75,tt2543164,7.9,515483,29,Arrival,US,NaN,imdbDisplay,NaN,0.0,...,10387,17394,"[18, 878, 9648]",329865,en,Arrival,25.442,2016-11-11,7.4,10387
77,tt1211837,7.5,514510,30,Doctor Strange,US,NaN,NaN,NaN,0.0,...,12582,17384,"[28, 12, 14, 878]",284052,en,Doctor Strange,33.035,2016-11-04,7.3,12582

In [75]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10383 entries, 0 to 12740
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   tconst               10383 non-null  object
 1   averagerating        10383 non-null  float64
 2   numvotes             10383 non-null  int64
 3   ordering             10383 non-null  int64
 4   title                10383 non-null  object
 5   region               10383 non-null  object
 6   language             91 non-null     object
 7   types                1448 non-null   object
 8   attributes           227 non-null    object
 9   is_original_title    10383 non-null  float64
 10  Unnamed: 0_x         10383 non-null  int64
 11  genre_ids_x          10383 non-null  object
 12  id_x                 10383 non-null  int64
 13  original_language_x  10383 non-null  object
 14  original_title_x     10383 non-null  object
 15  popularity_x         10383 non-null  float64
 16  release_date_x       10383 non-null  object
 17  vote_average_x       10383 non-null  float64
 18  vote_count_x         10383 non-null  int64
 19  Unnamed: 0_y         10383 non-null  int64
 20  genre_ids_y          10383 non-null  object
 21  id_y                 10383 non-null  int64
 22  original_language_y  10383 non-null  object
 23  original_title_y     10383 non-null  object
 24  popularity_y         10383 non-null  float64
 25  release_date_y       10383 non-null  object
 26  vote_average_y       10383 non-null  float64
 27  vote_count_y         10383 non-null  int64
dtypes: float64(6), int64(8), object(14)
memory usage: 2.3+ MB